body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}
.container {
    background: white;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 350px;
    text-align: center;
}
h2 {
    margin-bottom: 1rem;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 106%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
button:hover {
    background: #0056b3;
}

.message {
    position: absolute;
    top: 100px;
    /* background-color: #bcb7b7; */
    padding: 20px;
    width: 25%;
    border-radius: 12px;
    text-align: center;
    color: #fff;
}



