<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheServiceCompany</title>
    <link rel="stylesheet" href="/static/css/root.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="greet">Welcome,</h3>
            <h3 class="companyname">The Service Company</h3>
        </div>
        <div class="btn-group">
            <a href="http://127.0.0.1:8000/" class="signin">Login</a>
            <a href="http://127.0.0.1:8000/register" class="signup">Register</a>
        </div>
        
    </div>
</body>
</html>